<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Incova Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">

    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">
</head>

<body>
    <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active" height="7.5rem;">
                    <div class="sidebar-header">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a href="main"><img src="assets/images/logo/log.png" alt="Logo" srcset=""></a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><em class="bi bi-x bi-middle"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu fon">
                        <ul class="menu">
                            <li class="sidebar-title ">
                                <span class="display-6">Controles generales</span>
                            </li>

                            <li class="sidebar-item {{one}} " id="one" >
                                <a href="/"  class='sidebar-link' >
                                    <i class="bi bi-grid-fill " style="line-height: 0.356;"></i>
                                    <span >Dashboard</span>
                                </a>
                            </li>



                            <li class="sidebar-item {{two}}" id="two"  >
                                <a href="personal"  class='sidebar-link' >
                                    <i class="bi bi-grid-1x2-fill" style="line-height: 0.356;"></i>
                                    <span>Personal</span>
                                </a>
                            </li>

                            <li class="sidebar-item  {{three}}" id="three" >
                                <a href="planilla"  class='sidebar-link' >
                                    <i class="bi bi-file-earmark-spreadsheet-fill" style="line-height: 0.356;"></i>
                                    <span>Planillas</span>
                                </a>
                            </li>

                            <li class="sidebar-item  has-sub {{four}} {{five}} {{six}} {{seven}} {{eight}} {{nine}}">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-cash" style="line-height: 0.356;"></i>
                                <span>Precios para contratista</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="alorsps">Alorica SPS</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="starteksps">Startek SPS</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="zerovariansps">Zero Variance SPS</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="startektgu">Startek TGU</a>
                                </li>
                                
                                <li class="submenu-item ">
                                    <a href="startektguxviaje">Startek TGU por viaje</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item {{ten}}" id="three" >
                            <a href="bonos"  class='sidebar-link' >
                                <i class="bi bi-stack" style="line-height: 0.356;"></i>
                                <span>Bonos</span>
                            </a>
                       </li>
                       <li class="sidebar-item {{eleven}}" id="three" >
                            <a href="deducciones"  class='sidebar-link' >
                                <i class="bi bi-x-octagon-fill" style="line-height: 0.356;"></i>
                                <span>Deducciones</span>
                            </a>
                       </li>
                        </ul>
                    </div>
                    <button class="sidebar-toggler btn x"><em data-feather="x"></em></button>
                </div>
            </div>
    </div>    
    {{{body}}}
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script>
         Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
        
  
    </script>
    


</body>

</html>